body {
    font-size: 20px;
    background-color: #a9a9a9;
}

.app {
    margin: 0;
    padding: 0;
   
    top: 0;  
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

.search-input-container {
    padding: 1rem;
}

.search-input {
    height: 1.8rem;
    width: 20rem;;
    border-radius: 0.5rem;   
}

.search-btn {
    background: #696969;
    height: 2rem;
    border-radius: 0.5rem;
    color: #ffffff;
    text-transform: uppercase;
}