body {
    font-size: 20px;
    background-color: #a9a9a9;
    /* background-color:#d3d3d3 ; */
}

p, h3 {
    margin: 0;
    /* padding: 0; */
}

.app {
    margin: 0;
    padding: 0;   
    top: 0;  
}

.search-page {
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar {
    width: 80%;   
    padding: 1rem;
    background-color: #addd;
    box-shadow: 0.2rem 0.2rem #1e90ff;
    border-radius: 0.5rem;
}

.search-lable {
    height: 1.35rem;
}

.search-logo {
    width: 1.6rem;
    height: 1.6rem;
}

.search-input-container {
    padding: 1rem;
}

.search-input {
    height: 1.8rem;
    width: 20rem;;
    border-radius: 0.5rem;   
}

.search-btn {
    background: #696969;
    height: 2rem;
    border-radius: 0.5rem;
    color: #ffffff;
    text-transform: uppercase;
}

.cards-container {
    width: 90%;
    height: 90%;   
    flex-wrap: wrap;
    padding-top: 1rem;
    justify-content: space-around;    
}

.card-container {
    width: 45%;
    height: auto;
    /* min-height:13.5rem; */
    padding: 1rem;
    /* background-color: #addd;
    box-shadow: 0.2rem 0.2rem #1e90ff;
    border-radius: 0.5rem;     */

}

.card {
    /* width: 12rem;
    height: 15rem; */
    width: 100%;
    min-height: 13.5rem;
    padding: 0.6rem 0 0.2rem 0;
    background-color: #addd;
    box-shadow: 0.2rem 0.2rem #1e90ff;
    border-radius: 0.5rem; 
    justify-content: space-around;
    align-items:center;
    flex-direction: column;
} 

.details {
    font-size: 0.8rem;
    font-style: italic;
    color: #2f4f4f;
    /* background-color:#d3d3d3 ; */
    border-radius: 0.5rem;
    padding: 0.2rem 0.8rem;
   
}

.img-container {
    width: 12rem;
    height: 12rem;
    padding-bottom: 0.2rem;
  
}

.img {  
    /* width: 10rem; */
    height: 8rem;
    border-radius: 0.5rem;
    float: left;
    padding-right: 0.5rem;
}

.article-container {
    width: 95%;
    height: fit-content;    
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;   
    /* font-weight: bold; */    
}

.pagination-container {
    /* width: 30%; */
    padding-top: 1rem;
    padding-right: 10%;
    margin-left: auto;
    
}
.pagination {
    background-color: #addd;
    box-shadow: 0.2rem 0.2rem #1e90ff;
    border-radius: 0.5rem;
    padding: 1rem;
}

.pagination a {
  text-decoration: none;
  color: #000000;
  display: inline-block;
  background: #cccccc;
  border: 1px solid #000000;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 14px;
}

.pagination a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.pagination ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
  }

.pagination  li {
    display: inline-block;
    margin: 0 2.5px;
   
}

.active a {
    background: #ffffff;
}

.active a:hover {
    text-decoration: none;
    cursor: default
}

.prev.disabled, .next.disabled {
    cursor: default;
    background: #ccc;
    color: #888;
    border-color: #888;
}
.prev.disabled:hover, .next.disabled:hover {
    cursor: default;
    text-decoration: none;
}

/*hide some btns for pagination*/
@media (min-width: 768px) {
    li:first-child, li.active-sibling, li.active, li.active + li, li:last-child {
        display: inline-block !important;
   }
    li:first-child:nth-last-child(n+8) ~ li {
        display: none;
   }
    li:first-child:nth-last-child(n+8) ~ li.active-sibling:before {
        content: "\2026";
        font-size: 24px;
        display: inline-block;
        margin-right: 2.5px;
   }
    li:first-child:nth-last-child(n+8) ~ li.active + li:after {
        content: "\2026";
        font-size: 24px;
        display: inline-block;
        margin-left: 2.5px;
   }
    li:first-child:nth-last-child(n+8) ~ li:nth-last-child(-n+5) {
        display: inline-block;
   }
    li:first-child:nth-last-child(n+8) ~ li:nth-last-child(5):before {
        content: "\2026";
        font-size: 24px;
        display: inline-block;
        margin-right: 2.5px;
   }
    li:first-child:nth-last-child(n+8) ~ li:nth-child(-n+2):before, li:first-child:nth-last-child(n+8) ~ li:nth-last-child(-n+2):before, li:first-child:nth-last-child(n+8) ~ li.active-sibling:nth-last-child(-n+4):before, li:first-child:nth-last-child(n+8) ~ li:nth-child(-n+2):after, li:first-child:nth-last-child(n+8) ~ li:nth-last-child(-n+2):after, li:first-child:nth-last-child(n+8) ~ li.active-sibling:nth-last-child(-n+4):after {
        display: none !important;
   }
    li:first-child:nth-last-child(n+8).active ~ li:nth-last-child(-n+5), li:first-child:nth-last-child(n+8) ~ li.active ~ li:nth-last-child(-n+5) {
        display: none;
   }
    li:first-child:nth-last-child(n+8).active ~ li:nth-last-child(-n+5):before, li:first-child:nth-last-child(n+8) ~ li.active ~ li:nth-last-child(-n+5):before {
        display: none;
   }
    li:first-child:nth-last-child(n+8).active ~ li:nth-child(-n+5), li:first-child:nth-last-child(n+8) ~ li.active ~ li:nth-child(-n+5) {
        display: inline-block;
   }
    li:first-child:nth-last-child(n+8).active ~ li:nth-child(-n+4):after, li:first-child:nth-last-child(n+8) ~ li.active ~ li:nth-child(-n+4):after {
        display: none;
   }
    li:first-child:nth-last-child(n+8).active ~ li:nth-child(5):after, li:first-child:nth-last-child(n+8) ~ li.active ~ li:nth-child(5):after {
        content: "\2026";
        font-size: 24px;
        display: inline-block;
        margin-left: 2.5px;
   }
    li:first-child:nth-last-child(n+8).active:before, li:first-child:nth-last-child(n+8) ~ li.active:before, li:first-child:nth-last-child(n+8).active:after, li:first-child:nth-last-child(n+8) ~ li.active:after {
        display: none;
   }
}

/*end of hide btns logics*/
/* 
.logo-wrapper {
    width: 2.5rem;
    justify-content: space-between;    
}

.like-logo {
    width: 1rem;
    height: 1rem;
}

.eye-logo {
    width: 1.2rem;
    height: 1rem;
    padding: 0.2rem;
} */