html {
    margin: 0;
    padding: 0;
    top: 0;
    font-size: 20px;
  }
  
  body {
    background-color: beige;
    margin: auto;
  }


  input[type="radio"]:checked,
  input[type="checkbox"]:checked {
    /* box-shadow: 0 0 0 3px o#9d762f;; */
    color: #9d762f;;
    border-color: #9d762f;; 
    content: "•";
    font-size: 30px;
    line-height: 18px;
    text-align: center;
  }
  
  
  .App {
    font-family: sans-serif;
   
    text-align: center;
  }
  
  .form-page {
    background-color: #f5f5dc;
    /* text-align: center; */
    /* height: 70vh; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
 
  }
  
  .fill-p {
    margin: 0;
  }

  .form-wrapper {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    /* height: 70vh; */
    width: 50%;
    justify-content: center;
    color: #9d762f;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .form label {
    /* width: 7rem; */
    font-style: italic;
  }
  
  .input-wrapper {
      width: 100%;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .input-wrapper label {
    width: 30%;
}

label[for=gdpr]  {
    width: fit-content;
    font-size: 0.9rem;
}

.form-field {
    /* width: 20rem; */
    width: 70%;
    padding: 0.2rem;
    border: 0.1rem solid #9d762f;
  }
  
  .padding-line {
    padding: 0.5rem;
  }

  .gender-raw {
    display: flex; 
    align-items: center;
    justify-content: space-around;
    /* width: 40%;    */
}

.gender-p {
    padding-right: 0.5rem;
    font-weight: 500;
    text-transform: capitalize;
}

.submit {
    border: 0.1rem solid #9d762f;
    border-radius: 0.5rem;
    width: 50%;
    height: 2rem;
    text-transform: uppercase;
    background-color: #e6d6b0;
    color: #9d762f;
    font-weight: 800;
}

.result-field {
  text-transform: capitalize;
}

.result-blank {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #9d762f;
}

.result-single {
  border: 0.1rem solid #9d762f;
  border-radius: 0.5rem; 
}

.result-para {
  text-align: center;
}